{% extends "layout.njk" %}
{% block head %}{% endblock head %}

{% block content %}
<div class="packet">
    <div class="packet-card">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <div class="packet-image">
        <img src="/assets/chef.png" alt="mini chefe de cozinha">
    </div>
</div>
<div class="access-most">
    <h1>Mais acessadas</h1>
</div>

<section class="cards">
    {% for card in data %}
    <div class="card" id="{{card.id}}">
        <div class="card-image">
            <img src="{{card.img}}" alt="image of {{card.title}}" >
        </div>
        <div class="card-text">
            <h2>{{card.title}} </h2>
            <p>{{card.madeBy}} </p>
        </div>
    </div>

    {% endfor %}
</section>
{% endblock %}