<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}
    </head>

    <body>
        <header>
            <div class="links-bar">
                <a href="/">
                    <img src="/assets/logo.png" alt="logo Foodfy">
                </a>
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>
        {% block content %}{% endblock %}

        <div class="footer">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>

        <script src="/scripts/scripts.js"></script>

    </body>

</html>