{% extends "layout.njk" %}
{% block head %}{% endblock head %}

{% block content %}
    <div class="not-found">
        <h1>Ops...</h1>
        <p>Não encontramos sua receita</p>
    </div>
   
{% endblock content %}