{% extends "layout.njk" %}
{% block head %}{% endblock head %}

{% block content %}

    <section class="cards">
        {% for card in data %}
            <div class="card" id="{{card.id}}">
                <div class="card-image">
                    <img src="{{card.img}} " alt="image of {{card.title}}">
                </div>
                <div class="card-text">
                    <h2>{{card.title}}
                    </h2>
                    <p>{{card.madeBy}}</p>
                </div>
            </div>
        {% endfor %}
    </section>

    <script src="./public/scripts.js"></script>
{% endblock content %}